{
  "extends":[
    "airbnb-base",
    "plugin:react/recommended"
  ],
  "plugins": [
    "react"
  ],
  "rules": {
    "no-undef": 0,
    "react/jsx-filename-extension": 0,
    "no-var": 2,
    "import/no-named-as-default" : 1,
    "import/no-named-as-default-member" : 1,
    "import/order": 0,
    "comma-dangle": 1,
    "eol-last": 1
  }
}